body {
    margin: auto;
    text-align: center;
}
.header {
    min-height: 200px;
}
.row {
    justify-content: center;
}
.player, .computer, .score {
    min-height: 100px;
    color: green;
    font-size: 36px;
    border: 1px solid black;
    align-items: center;
}