body {
    margin: 12px auto;
    text-align: center;
}
.header {
    min-height: 100px;
}
.row {
    justify-content: center;
}
.player, .computer, .score {
    min-height: 100px;
    color: green;
    font-size: 36px;
    align-items: center;
}